<section class="calendar-body">
  <div class="calendar-grid">
    <div class="calendar-grid__day-name">Lun</div>
    <div class="calendar-grid__day-name">Mar</div>
    <div class="calendar-grid__day-name">Mié</div>
    <div class="calendar-grid__day-name">Jue</div>
    <div class="calendar-grid__day-name">Vie</div>
    <div class="calendar-grid__day-name">Sáb</div>
    <div class="calendar-grid__day-name">Dom</div>

    <button class="calendar-grid__day">1</button>
    <button class="calendar-grid__day">2</button>
    <button class="calendar-grid__day">3</button>
    <button class="calendar-grid__day">4</button>
    <button class="calendar-grid__day">5</button>
    <button class="calendar-grid__day">6</button>
    <button class="calendar-grid__day">7</button>

    <button class="calendar-grid__day">8</button>
    <button class="calendar-grid__day">9</button>
    <button class="calendar-grid__day">10</button>
    <button class="calendar-grid__day">11</button>
    <button class="calendar-grid__day">12</button>
    <button class="calendar-grid__day">13</button>
    <button class="calendar-grid__day">14</button>

    <button class="calendar-grid__day">15</button>
    <button class="calendar-grid__day">16</button>
    <button class="calendar-grid__day">17</button>
    <button class="calendar-grid__day">18</button>
    <button class="calendar-grid__day">19</button>
    <button class="calendar-grid__day">20</button>
    <button class="calendar-grid__day">21</button>

    <button class="calendar-grid__day">22</button>
    <button class="calendar-grid__day">23</button>
    <button class="calendar-grid__day">24</button>
    <button class="calendar-grid__day">25</button>
    <button class="calendar-grid__day">26</button>
    <button class="calendar-grid__day">27</button>
    <button class="calendar-grid__day">28</button>

    <button class="calendar-grid__day">29</button>
    <button class="calendar-grid__day">30</button>
  </div>
</section>
