*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Radius */
  --radius-lg: 1rem;

  /* Shadows */
  --shadow-card: 0 2px 8px rgba(0, 0, 0, 0.08);

  /* Spacing */
  --space-md: 1rem;
  --space-lg: 1.25rem;
}

:root,
.light-theme {
  --color-background: #f4f4f4;
  --color-surface: #ffffff;
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-border: #dddddd;
}

.dark-theme {
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-text-primary: #f5f5f5;
  --color-text-secondary: #b3b3b3;
  --color-border: #3a3a3a;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;

  font-family: system-ui, sans-serif;

  background-color: var(--color-background);
  color: var(--color-text-primary);
}
